<% if @subsidiaries.empty? %>
  <h1>Nenhuma filial cadastrada</h1>
<% end %>

<%= link_to 'Cadastrar filial', new_subsidiary_path %>

<% @subsidiaries.each do |subsidiary| %>
  <h2><%= link_to subsidiary.name, subsidiary_path(subsidiary) %></h2>
<% end %>

<%= link_to 'Voltar', root_path %>