<h1>Categorias de carrors</h1>

<% if @carcategories.empty? %>
  <h2>Nenhuma categoria cadastrada</h2>
<% end %>

<%= link_to 'Cadastrar categoria', new_car_category_path %>

<% @carcategories.each do |category| %>
  <div>
  <h1><%= link_to "Categoria #{category.name}", category %></h1>
    <dl>
      <dt>Diaria</dt>
      <dd><%= number_to_currency(category.daily_rate) %></dd>
    </dl>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>